shallow copy store the refernce of other object if we make change in that object previous object is also changed deep copy store copies of the object value if we change in any object it doesnot affect other object

In [1]:
books = [
    {'title': 'Python Course', 'author': 'Drew Matthes', 'ISBN': '978-1593123447'},
    {'title': 'The Optimist', 'author': 'Simon Drea', 'ISBN': '978-987654345699'},
    {'title': 'A Mockingbird', 'author': 'Blisk Louis', 'ISBN': '978-0446310789'},
   
]
students = [
    {'name': 'Dev Anand', 'student_id': '6748'},
    {'name': 'Sriram Bakxi', 'student_id': '8765'},
    {'name': 'Janata Mahtre', 'student_id': '2378'},
    
]
transactions = [
    {'book': 'Python Course', 'student': 'Dev Anand', 'date': '2023-06-01'},
    {'book': 'A Mockingbird', 'student': 'Sriram Bakxi', 'date': '2023-06-03'},
    {'book': 'The Optimist', 'student': 'Janata Mahtre', 'date': '2023-06-05'},
    
]
print(books)
print(students)
print(transactions)

[{'title': 'Python Course', 'author': 'Drew Matthes', 'ISBN': '978-1593123447'}, {'title': 'The Optimist', 'author': 'Simon Drea', 'ISBN': '978-987654345699'}, {'title': 'A Mockingbird', 'author': 'Blisk Louis', 'ISBN': '978-0446310789'}]
[{'name': 'Dev Anand', 'student_id': '6748'}, {'name': 'Sriram Bakxi', 'student_id': '8765'}, {'name': 'Janata Mahtre', 'student_id': '2378'}]
[{'book': 'Python Course', 'student': 'Dev Anand', 'date': '2023-06-01'}, {'book': 'A Mockingbird', 'student': 'Sriram Bakxi', 'date': '2023-06-03'}, {'book': 'The Optimist', 'student': 'Janata Mahtre', 'date': '2023-06-05'}]

Automic data type:they are of four type 1.boolean 2.integers 3.char 4.floats

Secondary data type are those data type which can be divided into sub-data typein other word these data type are created by the combination pf primitive data type